 
.pagerFooter {
    padding: 8px;
    border: solid 2px #e7e6e6;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
}

.e-pager.e-rtl {
    direction: rtl;
    position: fixed;
    bottom: 4px !important;
    width: 83.5% !important;
    right: 50px;
}

.hulu {
    background-color: #edf8ff38;
    border: solid 2px #e7e6e6;
    border-radius: 10px;
    height: 130px;
}

    .hulu:hover {
        background-color: white;
        border: solid 1px gray;
    }

body {
    font-family: 'Vazir FD';
}

.e-card .e-card-horizontal .e-card-stacked {
    justify-content: flex-start;
    margin: initial;
}

.property-panel-section .property-panel-content td {
    padding: 0 0 15px 0;
}

.tile_layout.card-control-section .e-error {
    height: 100px;
    width: 100px;
}

    .tile_layout.card-control-section .e-error .e-error-content {
        color: red;
        line-height: 100px;
        text-align: center;
    }

.e-float-input, .e-float-input.e-control-wrapper {
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 1px;
    padding-top: 0;
    position: relative;
    width: 150px;
}

.tile_layout.card-control-section .e-card .e-card-image {
    height: 180px;
    width: inherit;
}


.tile_layout.card-control-section .e-card .e-card-header .e-card-header-caption .e-card-header-title {
    font-size: 20px;
    font-family: Helvetica, 'Segoe UI';
    font-weight: bold;
}

.tile_layout.card-control-section .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
    padding-top: 5px;
}

.tile_layout.card-control-section .e-card .e-card-content {
    padding-top: 10px;
    height: 50px;
}

#source_link {
    float: right;
}

.e-card {
    -webkit-tap-highlight-color: #0d6efd;
    background-color: #edf8ff38;
    border: 2px solid #dee2e6;
    box-shadow: none;
    color: #212529;
    outline: none;
}

.e-ddl.e-lib.e-input-group.e-control-container.e-control-wrapper.e-rtl.e-keyboard {
    width: 150px !important;
}

span.e-ddl.e-lib.e-input-group.e-control-container.e-control-wrapper.e-rtl {
    width: 150px !important;
}
 