@*@layout EmptyLayout*@
@*@page "/AccessDenaid"*@
@using Microsoft.AspNetCore.Components.Authorization;
@*@using Ticketing_UI.Shared.Layouts*@
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager Navigation




<div class="d-flex flex-row flex-column h-100">
    <div class="align-self-center align-items-center">
        <img src="css/images/AccessDenied.jpg" class="center" />
    </div>
    <div class="align-self-center align-items-center">
        <h3>شما مجوز ورود به سیستم   شرکت شونیز را ندارید</h3>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            if (user.Identity.IsAuthenticated == false) return;
            //if(user.Claims.Any(c => c.Type == "role" && c.Value.Contains("Ticketing")))
            //{
            //    Navigation.NavigateTo("/");
            //}
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
