<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="globalPackagesFolder" value="/NuGetPackages" />
    <add key="Package source" value="https://packagesource" />
    <add key="Syncfusion Nugets" value="C:\Program Files (x86)\Syncfusion\Essential Studio\Blazor\20.4.0.48\NuGetPackages" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
