@using Microsoft.AspNetCore.Components.Authorization;
@using Syncfusion.Blazor.Cards
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager Navigation


<div dir="rtl" class="page">
    <div class="sidebar">
        <NavMenu userName="@userName" />
    </div>


    <main>
        @* <AuthorizeView>
        <Authorized>
        </Authorized>
        </AuthorizeView>*@
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private string userName = "";
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            userName = user.Identity.Name ?? "";
            if(user.Identity!.IsAuthenticated == false) return;
        }
        else
        {
            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            userName = user.Identity.Name ?? "";
        }
    }
}
