@using Microsoft.AspNetCore.Components.Authorization;
<<<<<<< Updated upstream
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager Navigation

=======
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication; 
@using Syncfusion.Blazor.Cards
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager Navigation 
>>>>>>> Stashed changes

<div dir="rtl" class="page">
    <div class="sidebar">
        <NavMenu />
    </div>


    <main>
        @* <AuthorizeView>
            <Authorized>
            </Authorized>
        </AuthorizeView>*@
        <div class="top-row px-4">
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
<<<<<<< Updated upstream
=======
    private string userName = "";

    private void BeginSignOut(MouseEventArgs args)
    {
        Microsoft.AspNetCore.Components.WebAssembly.Authentication.NavigationManagerExtensions.NavigateToLogout(Navigation, "authentication/logout");
        //Navigation.NavigateTo("authentication/logout");
    }

>>>>>>> Stashed changes
    protected override async Task OnAfterRenderAsync(bool firstRender)
    { 
        if(firstRender)
        {
            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            if(user.Identity!.IsAuthenticated == false) return;
            //if(!user.Claims.Any())
            //{
            //    Navigation.NavigateTo("/AccessDenaid");
            //}

        }
    }
}
