@page "/"
@using Blazored.Modal
@using Blazored.Modal.Services
@using TicketingUI.Pages.Programs
<PageTitle>Index</PageTitle>

<h1>برنامه ثبت تیک های پشتیبانی</h1>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@*<LoginPage />*@
<NavLink class="nav-link" href="CentersList">
    <button class="alert-primary"> نمایش لیست مراکز</button>
</NavLink>

<NavLink class="nav-link" href="PersonsList">
    <button class="alert-primary"> نمایش لیست پرسنل</button>

</NavLink>

<NavLink class="nav-link" href="ProgramsList">
    <button class="alert-primary"> نمایش لیست برنامه ها</button>

</NavLink>

<NavLink class="nav-link" href="TicketsList">
    <button class="btn btn-info" style="animation"> نمایش لیست تیکت ها</button>

</NavLink>


