@page "/FechSupporterInfo"
@using Blazored.Modal
@using Blazored.Modal.Services
@using Ticketing.Models.Programs.Dto
@using TicketingUI.Shared.Component 
<TableLayout Items="@pSupporterDtos" Context="lists">
    <TableHeader>
        <th>Name</th>
        <th>PersonID</th>
    </TableHeader>
    <RowTemplate>
        <td>@lists.SupporterName</td>
        <td>@lists.SupporterpersonID</td>
    </RowTemplate>
</TableLayout>
@code {
    [Parameter]
    public List<ProgramSupporterDto> pSupporterDtos { get; set; }
    [Parameter]
    public int number { get; set; }
    [Parameter]
    public ModalParameters prm { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }



}
